{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Auctions{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'auctions/styles.css' %}" rel="stylesheet">
    </head>
    <body>
        <div>
            <img src="{% static 'auctions/IMG_3752.jpg' %}" style = "display: block; margin-left: auto; margin-right: auto; width: 10%">
        </div>
        
        <h1 style="text-align:center">Tengu's Auctions</h1>
        <div style="text-align:center">
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        <br>
        <div style="text-align:center">
        <ul class="navbar navbar-light bg-light bg-self">
            <ul class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Active Listings</a>
            </ul>
            
            
            {% if user.is_authenticated %}

                <ul class="nav-item">
                    <a class="nav-link" href="{% url 'categories' %}">Categories</a>
                </ul>
                <ul class="nav-item">
                    <a class="nav-link" href="{% url 'post' %}">Post Listing</a>
                </ul>
                <ul class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </ul>
                <ul class="nav-item">
                    <a class="nav-link" href="{% url 'watchlist' %}">Watchlist</a>
                </ul>
                <ul class="nav-item">
                    <a class="nav-link" href="{% url 'closeditems' %}">Closed Listing</a>
                </ul>
            {% else %}
                <ul class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </ul>
                <ul class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </ul>
            {% endif %}
        </ul>
    </div>  
        {% if message %}
            <h3>{{message}}</h3>
        {% endif %}
        <hr>
        {% block body %}
        {% endblock %}