{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <br>
    <body style= "background-image: url('static/mail/IMG_3752.jpg'); background-repeat: no-repeat; background-attachment: fixed; background-size: 100% 100%;">
   <h1>Tengu Mail</h1>
   <hr>
   <h2>{{ request.user.email }}</h2>
    
    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    
    <hr>
    </body>
    
    <div id="emails-view">
            
     </div>   
     <br>
     <br>
    <div>
        
        <hr>
    </div>
    
    

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group" style="color: white;">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group" style="color: white;">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group" style="color: white;">
                Subject:<input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <div style="color: white;">
            Body:<textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            </div>
            <br>
            <input id = "send" type="submit" class="btn btn-primary" value ="Send"/>
            
        </form>
    </div>
    <div>
        <br>
        <br>
    </div>
    
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}