{% load static %}
{% load static %}

{% load static %}
<!DOCTYPE html>
    <html lang="en">
        <head>
            <title>{% block title %}{% endblock %}</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link href="{% static 'newsapp/styles.css' %}" rel="stylesheet">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <script src="{% static 'newsapp/library.js' %}"></script>
            
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        </head>
        <body>
          
            
        <div id="maindiv">    
            
            
            <div id="head" class="grid">
            <br>
                <img  id="header_img" src="{% static 'newsapp/IMG_3752.jpg' %}">   
                <span></span><h1 id="header">Tengu News</h1>
                
            </div>
            {% if user_id != user.id %}
            {% include "newsapp/widget.html" %}
            {% endif %}
            <br>
            <div id="userdisplay">
                
                
                <h3>{{ user }} is logged in</h3>
            </div>
            <div class="navbar-ml-auto" >
                
                <nav class="topnav" id="navbar">
                   
                    <ul id="navbar-nav">
                        <li id="navli" class="nav-item active"><a href="{% url 'index' %}">Home</a></li>
                        <li id="navli" class="nav-item active"><a href="{% url 'index' %}?search=top">Top News</a></li>
                        <li id="navli" class="nav-item active"><a href="{% url 'index' %}?search=Business">Business</a></li>
                        <li id="navli" class="nav-item active"><a href="{% url 'index' %}?search=Technology">Technology</a></li>
                        <li id="navli" class="nav-item active"><a href="{% url 'index' %}?search=Entertainment">Entertainment</a></li>
                        <li id="navli" class="nav-item active"><a href="{% url 'index' %}?search=Sports">Sports</a></li>
                        <li id="navli" class="nav-item active"><a href="{% url 'index' %}?search=Science">Science</a></li>
                        <li id="navli" class="nav-item active"><a href="{% url 'index' %}?search=Health">Health</a></li>
                        {% if user_id != user.id %}
                        <li id="navli" class="nav-item active"><a href="{% url 'weather' %}?search=weather">Weather</a></li>
                        {% endif %}
                        <li id="navli" class="nav-item active"><a href="{% url 'subscribe' %}?search=subscribe">Subscribe</a></li>
                        
                        {% if user.is_authenticated %}
                        <li id="navli" class="nav-item active"><a href="{% url 'logout' %}?search=logout">Logout</a></li>
                        {% else %}
                        <li id="navli" class="nav-item active"><a href="{% url 'login' %}?search=login">Login</a></li>
                        {% endif %}
                        
                    </ul>
                    
                      </a>
                  
                </nav>
                
             <div> 
                   
                {% block nav %}
                {% endblock %}
            </div>
            
            <br>
              
            <div class="body">
                
                {% block body %}
                
                {% endblock %}
            </div>
        </div>
        <div>

        </div>
       
        <div>
         <footer class="footer">
                <a href="{% url 'contact' %}">Contact</a>
            
            </footer>    
        </div>   
        </body>
</html>