{% extends "newsapp/layout.html" %}

{% block body %}

    <h2 style="text-align: center;">Login</h2>

    {% if message %}
        <div style="text-align: center;">{{ message }}</div>
    {% endif %}

    

    <form action="{% url 'login' %}" method="post" style="text-align: center;">
        {% csrf_token %}
        
        <h6>username</h6>
        {{ login_form.username }}

        <br><br>

        <h6>password</h6>
        {{ login_form.password }}
        
        <br><br>
        
    <input type="submit" class="btn btn-primary" value="Submit">
    </form>
    <br>

    <p class="text-center">If you already have an account, <a href="{% url 'subscribe' %}">Subscribe</a> instead.</p>-->
       

{% endblock %}